.message-box {
  background-color: var(--c-black);
  color: white;
  border-radius: 2px;
  border: white 8px ridge;
  padding: 16px;
  position: relative;

  > .decoration {
    background-image: url("./message-box-decoration.png");
    background-size: cover;
    position: absolute;
    width: 16px;
    height: 16px;
  }
}

.divider {
  background-color: white;
  height: 2px;
  width: 100%;
}
