@property --player-z {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

.perspective {
  perspective: 800px;
  perspective-origin: center 20%;

  .floor-plane {
    position: absolute;
    bottom: 0%;
    height: 100%;
    width: 100%;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    transform-origin: bottom;

    transition: --player-z 0.5s ease-out;

    .ground {
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%) scale(100);
    }

    .path {
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 100%;
      height: 16000px;
      transform-style: preserve-3d;
      transform: translateX(-50%) scaleY(10);
      background-size: 100% 10%;
      transition: background-position 0.5s ease-out;
    }
  }
}
