* {
  touch-action: manipulation;
}

html {
  --cos: cubic-bezier(0.3642, 0, 0.6358, 1);
  height: 100%;
  width: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  font-variant: small-caps;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;

  touch-action: none;
}

#root {
  height: 100%;
  width: 100%;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

div {
  position: relative;
}

.box {
  position: absolute;
  inset: 0 0 0 0;
}

.flexcenterer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gamewindow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.bordered {
  all: unset;
  background-color: black;
  color: white;
  border-style: ridge;
  padding: 4px;
  border-radius: 2px;
  border-width: 4px;
  border-color: white;
  text-align: center;
}
