.character {
  background-image: url("../images/character.png");
  background-size: 400%;
  background-position: bottom left;
  z-index: 5;
  position: absolute;
  bottom: 0px;
  height: 40vh;
  width: 80vh;
  left: calc(50% - 40vh);
}

@keyframes walk {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.walk {
  animation: walk 0.2s ease-in-out;
}

@keyframes battlePose {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.battlePose {
  animation: battlePose 4s ease-in-out;
}
