@keyframes glow {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}

.charge {
  &[chargelevel="1"] {
    position: absolute;
    left: 70%;
    bottom: 50%;
    width: 10%;
    height: 20%;
  }

  &[chargelevel="2"] {
    position: absolute;
    left: 65%;
    bottom: 50%;
    width: 20%;
    height: 40%;
    background-image: radial-gradient(
      circle closest-side,
      #ffffff88,
      transparent
    );
    animation: glow 5s var(--cos) infinite;
  }

  &[chargelevel="3"] {
    position: absolute;
    left: -50%;
    right: -50%;
    top: -50%;
    bottom: -50%;
    background-image: radial-gradient(
      circle closest-side,
      #ffffff88,
      transparent
    );
    animation: glow 10s var(--cos) infinite;
  }
}
