body
{
	background-image: url("wall.png");
	color: white;
	font-family: 'Catamaran', sans-serif;
}

div
{
	position: relative;
}

.button
{
	font-family: 'Catamaran', sans-serif;
	background-color: black;
	color: white;
	border-style: ridge;
	border-width: 4px;
	border-color: white;
	font-size: 32px;
}

.main {
	padding: 16px 16px 16px 16px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 600px;
	max-width: 800px;
	margin: 0 auto;
}
.buttons {
	width: 100%;
	color: black;
}
p,img {
	font-size: 16pt;
	margin: 10px 0;
	/*float: left;*/
	clear: both;
	position: relative;
}

.battleButtons
{
	display: none;
}

.scaledImage
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.content
{
	position: relative;
	left: 368px;
	width: 352px;
	height: 352px;
}

#b1out
{
	overflow:auto;
}