@property --content-z {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

.content-layer {
  transform-origin: bottom;
  height: 120%;
  background-color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 200%;
  transform-style: preserve-3d;
  transform: translateX(-50%) rotateX(-90deg)
    translateZ(calc(var(--player-z) - var(--content-z)));
  background-size: 100% 10%;
}
