.monster > .troll {
  background-image: url(../images/troll.png);
  width: 100%;
  height: 150%;
  background-size: 400%;
  background-position-x: 0vh;
  background-position-y: bottom;
}

.monster > .troll-soldier {
  background-image: url(../images/troll3.png);
  width: 100%;
  height: 150%;
  background-size: 400%;
  background-position-x: 0vh;
  background-position-y: bottom;
}

.monster > .sponge {
  background-image: url("../images/sponge.png");
  height: 76.666%;
  width: 76.666%;
  background-size: 162%;
  left: 12%;
  margin: auto;
}

.monster > .puddle {
  background-image: url("../images/sponge.png");
  background-size: 133.3333%;
  background-position: bottom left;
  width: 100%;
  height: 33.33%;
  position: absolute;
  bottom: -20%;
}

.monster > .ghost {
  background-image: url("../Images/ghost.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-position: bottom;
}

.monster > .skeleton {
  height: 140%;
  width: 70%;
  left: 15%;
}

.monster > .reaper {
  background-image: url(../images/reaper.png);
  background-position: top left;
  background-size: 200%;
  bottom: 20%;
  left: 20%;
  height: 96%;
  width: 60%;
}

.monster > .reaperShadow {
  background-image: url(../images/reaper.png);
  background-position: bottom left;
  background-size: 200%;
  bottom: 0px;
  left: 20%;
  height: 25%;
  width: 60%;
}

.monster > .reaperSycthe {
  background-image: url(../images/reaper.png);
  background-position: bottom right;
  background-size: 300%;
  bottom: 0px;
  right: -10%;
  height: 100%;
  width: 40%;
}

.monster {
  /*equivalent to a 30vh by 30vh box*/
  display: block;
  position: relative;
  height: 100%;
  width: 20%;
}

.monster > * {
  position: absolute;
  bottom: 0;
}

.imageMonster {
  width: 100%;
}

#amadeus {
  background-image: url(../images/troll2.png);
  width: 100%;
  height: 150%;
}

#aragore {
  position: relative;
  bottom: -22.666vh;
  left: 40%;
  background-image: url("../images/dragon.png");
  width: 200%;
  height: 100%;
  background-position: bottom;
  background-size: 100%;
}

#aragore > .head {
  animation: aragoreHeadSway 5s ease-in-out infinite;
  position: absolute;
  left: 14.666%;
  top: -50%;
  width: 73.3333%;
  height: 73.3333%;
  background-image: url("../images/dragon.png");
  background-size: auto 250%;
  background-position: left top;
}

#thaddeus {
  animation-delay: 5.7s;
  height: 140%;
  width: 140%;
  left: -15%;
}

#thaddeusSycthe {
  animation-delay: 5.7s;
  background-image: url(../images/thaddeusSycthe.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  left: 39%;
  bottom: 18%;
}
