#character
{
	background-image: url("../Images/character.png");
	background-size: 400%;
	background-position: bottom left;
	z-index: 5;
	position: absolute;
	bottom: 0px;
	height: 40vh;
	width: 80vh;
	left: calc(50% - 40vh);
}

#gameover_player
{
	width: 46vh;
	height: 23vh;
}

@keyframes intro_playerWalkingDown_sprite
{
	from
	{
		background-position: 0%;
	}

	to
	{
		background-position: 300%;
	}
}

@keyframes intro_playerWalkingDown_spriteflip
{
	from
	{
		transform: scaleX(1);
	}

	to
	{
		transform: scaleX(-1);
	}
}

@keyframes intro_playerWalkingDown_position
{
	from
	{
		top:12%;
	}

	to
	{
		top:100%;
	}
}

.intro_playerWalkingDown
{
	background-size: 200%;
    background-image: url(../Images/Cutscenes/Intro/playerwalkingdown.png);
    animation: 
    	intro_playerWalkingDown_sprite steps(2,jump-both) 1s infinite,
    	intro_playerWalkingDown_spriteflip steps(2,jump-both) 2s infinite,
    	intro_playerWalkingDown_position ease-in 4s 1;
    width: 196px;
    height: 392px;
    left: 38.6%;
    top: 12%;
	display: none;
}

@keyframes glow
{
	0%   {transform: scale(0.95);}
	50%  {transform: scale(1.05);}
	100% {transform: scale(0.95);}
}

#aura
{
	position: absolute;
	left:   -50%;
	right:  -50%;
	top:    -50%;
	bottom: -50%;
	background-image: radial-gradient(circle closest-side, #FFFFFF88, transparent);
	animation: glow 10s var(--cos) infinite;
}

#flame
{
	position: absolute;
	left: 65%;
	bottom: 50%;
	width: 20%;
	height: 40%;
	background-image: radial-gradient(circle closest-side, #FFFFFF88, transparent);
	animation: glow 5s var(--cos) infinite;
}

#spark
{
	position: absolute;
	left: 70%;
	bottom: 50%;
	width: 10%;
	height: 20%;
	/*background-image: radial-gradient(circle closest-side, #FFFFFF88, transparent);*/
}

@keyframes walk
{
	0%   {transform: translateY(0px);}
	50%  {transform: translateY(4px);}
	100% {transform: translateY(0px);}
}

.walk
{
	animation: walk 0.2s ease-in-out;
}

@keyframes battlePose
{
	0% {transform: translateY(0px);}
	50% {transform: translateY(2px);}
	100% {transform: translateY(0px);}
}

.battlePose
{
	animation: battlePose 4s ease-in-out;
}