* {
  touch-action: manipulation;
}

html {
  --cos: cubic-bezier(0.3642, 0, 0.6358, 1);
  height: 100%;
  width: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  font-variant: small-caps;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;

  touch-action: none;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

div {
  position: relative;
}

#face1 {
  flex-shrink: 0;
  margin: 8px;
  width: 14vh;
  height: 14vh;
  display: inline-block;
}

#face2 {
  flex-shrink: 0;
  margin: 8px;
  width: 38vh;
  height: 38vh;
  display: inline-block;
}

#notifier {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: black;
  margin: 0;
  z-index: 9999;
}

#information {
  position: fixed;
  line-height: 2;
  bottom: 8px;
  left: 8px;
  font-size: 12px;
  color: darkgray;

  transition: opacity, 2s;
  opacity: 0;
}

#back-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;

  position: absolute;
  margin: 0 auto;
}

#content-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 6;
  pointer-events: none;
}

#particles-js {
  z-index: 9995;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}

#cover {
  z-index: 9999;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}

#battlebuttons {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#lButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 32px;
  bottom: 16px;
  width: 224px;
  height: 256px;
}

#output1 {
  flex-grow: 1;
  text-align: left;
  margin: 8px;
}

#output2 {
  flex-grow: 1;
  text-align: left;
  margin: 8px;
  font-size: 2em;
}

#gameover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#introoutput {
  vertical-align: middle;
  text-align: center;
  width: 100vw;
}

#rButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 224px;
  height: 256px;
}

#hud {
  display: flex;
  width: 100%;
  z-index: 1;
}

#gamewindow {
  margin: 0 auto;
  height: 100vh;
  width: calc(100vh * 1.5);
  overflow: hidden;
}

#back {
  z-index: -1;
  height: 100%;
  position: absolute;
}

#fore {
  height: 100%;
  position: absolute;
}

.box {
  position: absolute;
  inset: 0 0 0 0;
}

.cursor {
  z-index: 10;
  height: calc(8px * 4);
  width: calc(8px * 4);
}

.dialogueBox {
  display: flex;
  z-index: 10;
  position: fixed;
  width: calc((100vh * 1.5) - 16px);
}

.dialogueBox > #output {
  text-align: left;
}

.flexcenterer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

#vcursor {
  transform: rotateZ(90deg);
}

.bordered {
  background-color: black;
  color: white;
  border-style: ridge;
  padding: 4px;
  border-radius: 2px;
  border-width: 4px;
  border-color: white;
  text-align: center;
}

.playerstat {
  width: 100%;
  text-align: center;
}

.transition-position {
  transition: left 1s, right 1s, top 1s, bottom 1s;
}

.big-text {
  font-size: 2em;
  padding: 1em;
}

#main-menu {
  font-variant: none;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-menu h1 {
  font-weight: 300;
}

.main-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 1s;
  transform: scale(1);
  white-space: nowrap;
}

.main-menu-button:hover,
.main-menu-button:focus {
  transform: scale(1.1);
  outline: none;
}

.main-menu-button::before,
.main-menu-button::after {
  content: "";
  display: inline-block;
  transition: height 1s, border-left 1s, margin-left 0.5s, margin-right 0.5s;
  height: 0%;
  width: 0%;
  border-left: 0px solid #fff0;
  margin-left: 10px;
  margin-right: 10px;
}

.main-menu-button:hover::before,
.main-menu-button:hover::after,
.main-menu-button:focus::before,
.main-menu-button:focus::after {
  height: 150%;
  border-left: 0.5px solid #ffff;
}

.main-menu-button.activated::before,
.main-menu-button.activated::after {
  margin-left: 50vw;
  margin-right: 50vw;
  height: 200%;
}

.main-menu-button.activated {
  animation: 0.1s ease-in-out 6 alternate text-blink;
}

@keyframes text-blink {
  from {
    color: #ffff;
  }

  to {
    color: #fff8;
  }
}

.infoWindowBox {
  position: absolute;
  top: 2cm;
  left: 2cm;

  z-index: 9998;
  pointer-events: none;
}

.infoWindowBox > div {
  transition: width 2s ease-in-out;
  width: 0%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.infoWindowBox > div > div {
  margin-left: 50%;
  transform: translateX(-50%);

  width: calc(100vw - 4cm);
  height: calc(100vh - 4cm);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: black;

  box-sizing: border-box;
  padding: 1cm;
}

.perspective {
  perspective: 800px;
  perspective-origin: center 20%;
}

.area-ground {
  position: absolute;

  top: 20%;
  width: 100%;
  height: 300%;

  transform-origin: top;
  transform-style: preserve-3d;
  transform: translateZ(-1350px) rotateX(89deg);
}

.area-path {
  margin: auto;

  top: 0;
  width: 10%;
  height: 100%;

  background-size: 100%;
  transition: background-position-y 0.5s;

  image-rendering: auto;
}

.battle-background {
  background-image: radial-gradient(circle, #e08989, #89e0e0);
  background-size: 10% 10%;
  animation: hue-rotation-frames 47s linear infinite,
    background-slide-frames 67s linear infinite;
}

@keyframes hue-rotation-frames {
  from {
    filter: hue-rotate(0turn);
  }

  to {
    filter: hue-rotate(1turn);
  }
}

@keyframes background-slide-frames {
  from {
    background-position: bottom 0% right 0%;
  }

  to {
    background-position: bottom 100% right 100%;
  }
}

.ground-prop {
  position: absolute;
  transition: top 0.5s, left 0.5s;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: bottom center;
  transform: translateX(-50%) rotateX(-90deg);
}
